<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean name="userDao" class="dao.UserDao.java">
	<property name="username">zhangsan</property>
	<property name="address">beijing</property>
	<property name="phoneNo">010-801928374</property>
</bean>

</beans>