<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>servlet05</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>web.AbcServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/jsp/abc</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>def</servlet-name>
  	<servlet-class>web.DefServlet</servlet-class>
  	<init-param>
  		<param-name>maxOnLine</param-name>
  		<param-value>3145.00</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>def</servlet-name>
  	<url-pattern>/jsp/def</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>log</filter-name>
  	<filter-class>web.LogFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>log</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
  	<listener-class>web.MyListener</listener-class>
  </listener>
</web-app>